.experience-timeline-container {
  @extend %display-flex-row;
  transition: left 1s $flash-cubic;

  .experience-timeline-ramp {
    @extend %box-sizing-border-box;
    border-top: $experience-timeline-border;

    &.experience-timeline-left-ramp {
      border-left: $experience-timeline-border;
    }

    &.experience-timeline-right-ramp {
      border-right: $experience-timeline-border;
    }
  }

  .experience-timeline-body {
    @extend %box-sizing-border-box;
    border-top: $experience-timeline-border;
  }
}
