.timeline {
  @extend %display-flex-center;

  .timeline-container {
    @extend %background-color-transparent;
    @extend %display-flex-center;
    @extend %width-100pc;
    margin-left: 48px;
    margin-right: 48px;

    > * {
      @extend %display-flex-center-y;
      @extend %height-100pc;
    }

    #timeline-start {
      #timeline-start-point {
        background-color: $timeline-background-color;
        height: $timeline-height;
        width: 48px;
      }
    }

    #timeline-main-axis {
      @extend %flex-grow-1;
      @extend %position-relative;

      > * {
        position: absolute;
      }

      #timeline-main-axis-body {
        @extend %width-100pc;
        background-color: $timeline-background-color;
        height: $timeline-height;
      }
    }

    #timeline-end {
      #timeline-end-point {
        background-color: $timeline-background-color;
        height: $timeline-height;
        width: 48px;
      }
      #timeline-end-arrow {
        @include right-arrow($timeline-height / 2, $timeline-background-color, transparent);
      }
    }
  }
}
